* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #c7c4c4;
}
.container {
  width: 650px;
  height: 400px;
  text-align: center;
  padding: 25px;
}
#display div > div:first-child{
  margin: 20px;
  width: 50px;
  height: 50px;
  background: #f8f6f6;
  color:#45b2ec;
  text-align: center;
  vertical-align: middle;
  padding: 20px 30px 10px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 10px;
}
#display > div {
  float: left;
}

#display h2 {
  font-size: 20px;
  text-align: center;
}

.form {
  clear:both;
}
