<div class="masthead">
  <div class="language-nav">
    <ul>
      <li>
        <a href="#">HTML</a>
      </li>
      <li>
        <a href="#">JavaScript</a>
      </li>
      <li>
        <a href="#">Ruby</a>
      </li>
    </ul>
  </div>
  <div class="masthead-links">
    <ul>
      <li>
        <button type="button" name="button">Tuesday, October 18, 2016</button>
      </li>
      <li>
        <button type="button" name="button">Today’s Paper</button>
      </li>
      <li>
        <button type="button" name="button">Video</button>
      </li>
      <li>
        <button type="button" name="button">77°F</button>
      </li>
      <li>
        <button type="button" name="button">AAO +100%</button>
      </li>
    </ul>
  </div>
</div>
