* {
  font-family: 'Roboto', sans-serif;
}
*:focus {
  outline: 0;
}
html,body {height:100%;}
.special,.special .jumbotron {height:100%;}

.desktop {
  max-width: 1300px;
  margin-top: 10px;
}


/*Navigation bar*/

.navbar-white {
  background: white;
}
.navbar-blue {
  background: #23c5f0;
}

.desktop-logo {
  background-image: url('../images/desktop-logo.png');
  width: 212px;
  background-repeat: no-repeat;
}

.mobile-logo {
  background-image: url('../images/mobile-logo.png');
  background-size: 208px 47px;
  width: 212px;
  background-repeat: no-repeat;
}


.right-nav {
  float:right
}


/*search bar*/

.search-bar {
  margin-top: 7px;
  margin-right: 95px;
  border-radius: 20px;
  border: 1px solid #ededed;
  padding-left: 10px;
  width: 300px;
  height: 35px;
  background: url(../images/search.png) no-repeat scroll 262px;
  padding-left:30px;
}

textarea:focus, input:focus{
  outline: none;
}


/*Navigation icons*/

#nav-icons > li > a {
  color: #000000;
  font-size: 18px;
  padding-right: 25px;
  padding-left: 25px;
}


/*Mobile Nav icons*/

#nav-icons-mobile > li > a {
  color: #ffffff;
  font-size: 18px;
  padding-right: 25px;
  padding-left: 25px;
}
#nav-icons > li > a:hover {
  background: #23c5f0;
  color: #ffffff;
}
#nav-icons-mobile > li > a:hover {
  background: #23c5f0;
  color: #000000;
  background: #ffffff;
}
#nav-icons-mobile > li > a:focus {
  background-color: #ffffff;
  color: #000000;
}



.nav-button {
  background-image: url(../images/menu-icon.png);
  width: 15px;
  height: 30px;
  border: none;
  background-repeat: no-repeat;
  background-color: none;
}
.nav-button-exit {
  background-image: url(../images/x-icon.png);
  width: 25px;
  height: 25px;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: none;
}


/*main content*/

.splash {
  color: #000000;
  background-image: url(../images/desktop.jpg);
  min-height: 100%;
  height: 100%;
  background-size:cover;
}

.main-text {
  padding-top: 240px;
}

.content-div-desktop {
  padding: 25px;
}

.content-div-mobile {
  color: #ffffff;
  margin-left: 10px;
}
